.App {
  text-align: center;
}

body{
  background:linear-gradient(0.25turn,#331a00,#1a0d00,#1a0d00,#331a00)
      
  }
  
  .navBar{
      height:130px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      padding-left: 70px;
      color:aliceblue
  }
  .title{
   font-size: 35px;
   font-weight: bolder;
   font-style: oblique;
  }
  .navListItems{
      display: flex;
      
      width:1000px;
      justify-content: space-evenly;
      padding: 3px;
      font-size: 18px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:aliceblue
  }
  
  .dropdown{
      position:relative;
      display: inline-block;
     
  }
              
  .dropdown-item{
     margin: 20px;
     display: none;
      position:absolute;
      justify-content: center;
      background-color: #291603;
      min-width: 150px;
      box-shadow: 0px 8px 40px 0px rgba(20, 11, 1, 0.8);
      padding:15px 15px;
      z-index: 1;
  }
  .dropdown:hover .dropdown-item{
      display: block;
  }
  

  .arrow{
      border:solid whitesmoke;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding:3px;
  }
  .down{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
  .NavIcons{
  
      width: 400px;
      display: flex;
      justify-content: space-evenly;
      padding-right: 10px;
      font-size: 18px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:aliceblue
  }
  
  li{
      list-style: none;
  }
  .navListItems a{
      text-decoration: none;
      display: flex;
      background-color: none;
      justify-content: space-evenly;
      padding: 3px;
      font-size: 18px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:aliceblue
      
  }
  .navListItems a:hover{
     
      box-shadow: 0px 8px 40px 0px rgba(20, 11, 1, 0.8);
      padding:15px 15px;
      font-size: 20px;
      font-weight: bolder;
      background-color:#331a00
      ;
  }
  
  .sub{
    border-radius: 50%;
    color: whitesmoke;
    font-style: normal;
    font-weight: bold;
    height: 18px;
    width:18px;
    padding:3px;
    

    text-align: center;
    background-color: orangered;
  }

  .Body{
    height:470px;
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 70px;
    color:aliceblue
  }
  .Col1{
   width: 500px;
   height:440px;
   padding:20px;
   
  
  }
  .Col2{
  height: 500px;
  width:800px;
  border-radius: 2%;
  border: 1px solid rgb(250, 225, 225);
object-fit:fill;
margin-right: 30px;
-webkit-filter: grayscale(1) invert(1);
filter: grayscale(0);

  }
  .m1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding-left: 50px;
    font-size: 70px;
    color: rgba(252, 247, 247, 0.89);
font-stretch: ultra-condensed;
text-align: start;
  }
  .m2{
    padding-left: 50px;
text-align: start;
   font-size: 85px;
  }
  .m3{
  
    display: flex;
    height: 90px;
    padding:4px;
    justify-content: space-evenly;

  }
  .profile{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: none;
  }
  .comments{
    font-style: italic;
    font-size:18px;
    color:rgb(212, 207, 207);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    line-height: 22px;
  }
  .buttons{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 60px;

  }
  .footer{
    padding-top:15px;
    margin: 20px;
    height:150px;
    

    padding-left: 140px;
   display: flex;
   justify-content: start;
   text-align: start;
  
  }
  .f1{

    font-weight: bold;
    font-size: 25px;
    color: rgba(224, 218, 218, 0.89);
font-stretch: ultra-condensed;
text-align: start;
  }


  .f2{
    padding-top:10px;
  width:300px;
    
    font-weight: 400;
    font-size: 15px;
    color: rgba(167, 165, 165, 0.89);
font-stretch: ultra-condensed;
text-align: start;
letter-spacing: .02em;
line-height: 24px;

  }
  .divider{
margin-left: 250px;
    width:1.2px;
    height: 130px;
border-radius: 100%;
    background-color: rgb(160, 155, 155);
   
  }
  .fcol2{
height:160px;
    padding-left: 100px;
    
  
  }

  .fcol3{

    height:130px;
    padding-left: 150px;

  }

  .directbtns{
    width: 200px;
    display: flex;
    padding-top: 7px;
    padding-left: 10px;
    justify-content: space-evenly;
  }

  .arrow {
    border: solid rgb(241, 236, 236);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
  }
